<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>
	OnlineNationalPollingSystem</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		New_Voter_AppServ</display-name>
		<servlet-name>New_Voter_AppServ</servlet-name>
		<servlet-class>pollingPack.New_Voter_AppServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Update_PassServ</display-name>
		<servlet-name>Update_PassServ</servlet-name>
		<servlet-class>pollingPack.Update_PassServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Update_PasswordServ</display-name>
		<servlet-name>Update_PasswordServ</servlet-name>
		<servlet-class>pollingPack.Update_PasswordServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NewCanAppServ</display-name>
		<servlet-name>NewCanAppServ</servlet-name>
		<servlet-class>pollingPack.NewCanAppServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NewConsEntryServ</display-name>
		<servlet-name>NewConsEntryServ</servlet-name>
		<servlet-class>pollingPack.NewConsEntryServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NewPartyEntryServ</display-name>
		<servlet-name>NewPartyEntryServ</servlet-name>
		<servlet-class>pollingPack.NewPartyEntryServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NewElectionServ</display-name>
		<servlet-name>NewElectionServ</servlet-name>
		<servlet-class>pollingPack.NewElectionServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateCommProfServ</display-name>
		<servlet-name>UpdateCommProfServ</servlet-name>
		<servlet-class>pollingPack.UpdateCommProfServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadCommProfServ</display-name>
		<servlet-name>UploadCommProfServ</servlet-name>
		<servlet-class>pollingPack.UploadCommProfServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CountVoteServ</display-name>
		<servlet-name>CountVoteServ</servlet-name>
		<servlet-class>pollingPack.CountVoteServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IssueCardServ</display-name>
		<servlet-name>IssueCardServ</servlet-name>
		<servlet-class>pollingPack.IssueCardServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		VoteEntryServ</display-name>
		<servlet-name>VoteEntryServ</servlet-name>
		<servlet-class>pollingPack.VoteEntryServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LogoutServ</display-name>
		<servlet-name>LogoutServ</servlet-name>
		<servlet-class>pollingPack.LogoutServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UsersServ</display-name>
		<servlet-name>UsersServ</servlet-name>
		<servlet-class>pollingPack.UsersServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PublishVoteServ</display-name>
		<servlet-name>PublishVoteServ</servlet-name>
		<servlet-class>pollingPack.PublishVoteServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		getDates</display-name>
		<servlet-name>getDates</servlet-name>
		<servlet-class>pollingPack.getDates</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeAddServ</display-name>
		<servlet-name>ChangeAddServ</servlet-name>
		<servlet-class>pollingPack.ChangeAddServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Changepassword</display-name>
		<servlet-name>Changepassword</servlet-name>
		<servlet-class>pollingPack.Changepassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		New_fld_off</display-name>
		<servlet-name>New_fld_off</servlet-name>
		<servlet-class>pollingPack.New_fld_off</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>New_Voter_AppServ</servlet-name>
		<url-pattern>
		/New_Voter_AppServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update_PassServ</servlet-name>
		<url-pattern>
		/Update_PassServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update_PasswordServ</servlet-name>
		<url-pattern>
		/Update_PasswordServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewCanAppServ</servlet-name>
		<url-pattern>
		/NewCanAppServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewConsEntryServ</servlet-name>
		<url-pattern>
		/NewConsEntryServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewPartyEntryServ</servlet-name>
		<url-pattern>
		/NewPartyEntryServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewElectionServ</servlet-name>
		<url-pattern>
		/NewElectionServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCommProfServ</servlet-name>
		<url-pattern>
		/UpdateCommProfServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadCommProfServ</servlet-name>
		<url-pattern>
		/UploadCommProfServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CountVoteServ</servlet-name>
		<url-pattern>
		/CountVoteServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IssueCardServ</servlet-name>
		<url-pattern>
		/IssueCardServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoteEntryServ</servlet-name>
		<url-pattern>
		/VoteEntryServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServ</servlet-name>
		<url-pattern>
		/LogoutServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsersServ</servlet-name>
		<url-pattern>
		/UsersServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PublishVoteServ</servlet-name>
		<url-pattern>
		/PublishVoteServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getDates</servlet-name>
		<url-pattern>
		/getDates</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeAddServ</servlet-name>
		<url-pattern>
		/ChangeAddServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Changepassword</servlet-name>
		<url-pattern>
		/Changepassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>New_fld_off</servlet-name>
		<url-pattern>
		/New_fld_off</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>